In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('./ml-100k/u.data',sep=r'\t',names=['user id','item id', 'rating', 'timestamp'])
filmesId=pd.DataFrame((set(data['item id'])),columns=['Filmes'])

itemData=pd.read_csv('./ml-100k/u.item',sep=r'|',names=['movie_id ', 'movie title' , 'release date' ,' video release date' ,
              'IMDb URL' ,' unknown' , 'Action' , 'Adventure' , 'Animation' ,
             ' Childrens ', 'Comedy' , 'Crime' , 'Documentary' , 'Drama' , 'Fantasy' ,
              'Film-Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci-Fi' ,
              'Thriller' , 'War' , 'Western' ], encoding='latin-1')
userData=pd.read_csv('./ml-100k/u.user',sep='|',names=['user id','age','Genero','Ocupacao','ZipCode'])

C:\Users\User\AppData\Local\Temp\ipykernel_33016\3810752435.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data=pd.read_csv('./ml-100k/u.data',sep=r'\t',names=['user id','item id', 'rating', 'timestamp'])

### Exercicio 1
**Objetivo:** Gerar lista dos 10 filmes mais bem avaliadas usando media simples.

In [4]:
#FORMA 1
def media(vals):
    return sum(vals)/len(vals)
lista=[]
for filme in filmesId['Filmes']:
        x=data[ data['item id']==filme]
        mediaVal=media(x['rating'])
        calculo=len(x['user id'])
        element=[filme,mediaVal,calculo]
        lista.append(element)
melhoresFilmes=pd.DataFrame(lista,columns=['Id_Filme','Media','Quantidade_Avalicao'])
melhores=itemData[itemData['movie_id '].isin([x for x in melhoresFilmes['Id_Filme']])]
melhoresFilmes['Nome']=melhores['movie title'].values
melhoresFilmes.sort_values(by=['Media','Quantidade_Avalicao'],ascending=False,inplace=True)
display(melhoresFilmes.head(10))

,Id_Filme,Media,Quantidade_Avalicao,Nome
1188,1189,5.0,3,Prefontaine (1997)
1292,1293,5.0,3,Star Kid (1997)
1466,1467,5.0,2,"Saint of Fort Washington, The (1993)"
1499,1500,5.0,2,Santa with Muscles (1996)
813,814,5.0,1,"Great Day in Harlem, A (1994)"
1121,1122,5.0,1,They Made Me a Criminal (1939)
1200,1201,5.0,1,Marlene Dietrich: Shadow and Light (1996)
1535,1536,5.0,1,Aiqing wansui (1994)
1598,1599,5.0,1,Someone Else's America (1995)
1652,1653,5.0,1,Entertaining Angels: The Dorothy Day Story (1996)

In [5]:
#FORMA 2
val=data.groupby(['item id']).mean('rating')
val['Quantidade']=data.groupby(['item id']).count()['rating']
val=val.sort_values(by=['rating','Quantidade'],ascending=False).join(itemData.set_index('movie_id ')['movie title']).drop(['user id','timestamp'],inplace=False,axis=1).head(10)
val

         rating  Quantidade                                        movie title
item id
1189        5.0           3                                 Prefontaine (1997)
1293        5.0           3                                    Star Kid (1997)
1467        5.0           2               Saint of Fort Washington, The (1993)
1500        5.0           2                          Santa with Muscles (1996)
814         5.0           1                      Great Day in Harlem, A (1994)
1122        5.0           1                     They Made Me a Criminal (1939)
1201        5.0           1         Marlene Dietrich: Shadow and Light (1996)
1536        5.0           1                               Aiqing wansui (1994)
1599        5.0           1                      Someone Else's America (1995)
1653        5.0           1  Entertaining Angels: The Dorothy Day Story (1996)

**ANALISE** 

Podemos ver aqui que utilizando a média simples, percebe-se que os maiores valores são dados por filmes que poucas pessoas avaliaram, pelo fato de não levar em consideração a quantidade de avaliaçoes, logo não necessariamente o filme é bom, ou uma boa analise

### Exercicio 2:

**Objetivo**:  Crie a mesma lista porém utilizando o Damped Means com **k=30**

In [6]:
#FORMA 1
def dampedMeans(vals,k,allVals):
    soma=sum(vals)
    m=media(allVals)
    tamanho=len(vals)
    z=(soma+(k*m))/(tamanho+k)
    return z
lista=[]
for filme in filmesId['Filmes']:
        x=data[ data['item id']==filme]
        dumpVal=dampedMeans(x['rating'],30,data['rating'])
        mediaVal=media(x['rating'])
        calculo=len(x['user id'])
        element=[filme,dumpVal,calculo,mediaVal]
        lista.append(element)
melhoresFilmesDump=pd.DataFrame(lista,columns=['Id_Filme','MediaDump','Quantidade_Avalicao','Media'])
melhoresDump=itemData[itemData['movie_id '].isin([x for x in melhoresFilmesDump['Id_Filme']])]
melhoresFilmesDump['Nome']=melhoresDump['movie title'].values
melhoresFilmesDump.sort_values(by=['MediaDump','Quantidade_Avalicao'],ascending=False,inplace=True)
display(melhoresFilmesDump.head(10))

,Id_Filme,MediaDump,Quantidade_Avalicao,Media,Nome
317,318,4.380780,298,4.466443,Schindler's List (1993)
63,64,4.357495,283,4.445230,"Shawshank Redemption, The (1994)"
482,483,4.354930,243,4.456790,Casablanca (1942)
49,50,4.317938,583,4.358491,Star Wars (1977)
11,12,4.299312,267,4.385768,"Usual Suspects, The (1995)"
407,408,4.287999,112,4.491071,"Close Shave, A (1995)"
602,603,4.279899,209,4.387560,Rear Window (1954)
168,169,4.276323,118,4.466102,"Wrong Trousers, The (1993)"
97,98,4.235466,390,4.289744,"Silence of the Lambs, The (1991)"
126,127,4.232270,413,4.283293,"Godfather, The (1972)"

In [7]:
#FORMA 2
y=30*data['rating'].mean()
z=data.groupby(['item id']).count()['rating']
val2=data.groupby(['item id']).apply(lambda x: (x['rating'].sum()+y)/(len(x)+30)).to_frame('MediaDump').join(z.to_frame('Quantidade')).join(itemData.set_index('movie_id ')['movie title']).sort_values(by=['MediaDump','Quantidade'],ascending=False).head(10)
val2

         MediaDump  Quantidade                       movie title
item id
318       4.380780         298           Schindler's List (1993)
64        4.357495         283  Shawshank Redemption, The (1994)
483       4.354930         243                 Casablanca (1942)
50        4.317938         583                  Star Wars (1977)
12        4.299312         267        Usual Suspects, The (1995)
408       4.287999         112             Close Shave, A (1995)
603       4.279899         209                Rear Window (1954)
169       4.276323         118        Wrong Trousers, The (1993)
98        4.235466         390  Silence of the Lambs, The (1991)
127       4.232270         413             Godfather, The (1972)

**ANALISE**

Como podemos ver essa métrica da um resultado mais satisfatorio, pelo fato  da utilização do damped means que basicamente adiciona recomendações falsas com média global, afim de que tenham mais avaliações para aqueles que tem poucas, isso irá normalizar a media de todos os valores afim de que quem tempoucas avaliações não ganhe com facilidadades dos que tme mais valores.

Por exemplo: no exemplo anterior **Star Kid** teve 3 avlaiações apenas com 5 estrelas, tendo Media 5. Porém sabemos que não tem grande publico que assiste e afirma que o filme é bom. Agora aplicando o damped Means pegamos a media global 30 vezes(como se fosse 30 avaliações novas),que veremos que abaixará a nota dele pois teremos mais avaliações para ele.Quanto a **Star Wars** não altera quase nada pois ja tem muitas avaliações.

### Exercicio 3

**OBJETIVO**:  Considere que o usuário goste de um filme quando a nota que ele atribui a um filme seja
superior ou igual a 4 e não goste caso contrário. Faça uma lista de recomendações dos filmes com
o maior percentual positivo de notas.

In [8]:
#FORMA 1
def percentualPositivas(vals):
    positivas=0
    for val in vals:
          if val>=4:
                positivas=positivas+1
    return (positivas*100)/(len(vals))
lista=[]
for filme in filmesId['Filmes']:
        x=data[ data['item id']==filme]
        percentual=percentualPositivas(x['rating'])
        # mediaVal=media(x['rating'])
        calculo=len(x['user id'])
        element=[filme,percentual,calculo]
        lista.append(element)
melhoresFilmesPercet=pd.DataFrame(lista,columns=['Id_Filme','Percentual','Quantidade_Avalicao'])
melhoresPercet=itemData[itemData['movie_id '].isin([x for x in melhoresFilmesPercet['Id_Filme']])]
melhoresFilmesPercet['Nome']=melhoresPercet['movie title'].values
melhoresFilmesPercet.sort_values(by=['Percentual','Quantidade_Avalicao'],ascending=False,inplace=True)
display(melhoresFilmesPercet.head(10))

,Id_Filme,Percentual,Quantidade_Avalicao,Nome
1448,1449,100.0,8,Pather Panchali (1955)
1395,1396,100.0,5,Stonewall (1995)
1063,1064,100.0,4,Crossfire (1947)
1124,1125,100.0,4,"Innocents, The (1961)"
1188,1189,100.0,3,Prefontaine (1997)
1292,1293,100.0,3,Star Kid (1997)
1622,1623,100.0,3,"Cérémonie, La (1995)"
1638,1639,100.0,3,Bitter Sugar (Azucar Amargo) (1996)
1079,1080,100.0,2,Celestial Clockwork (1994)
1397,1398,100.0,2,Anna (1996)

In [9]:
#FORMA 2
val3=data.groupby('item id').apply(lambda x:  ((
    len(x[x['rating']>=4])*100)/len(x['rating']
    ))).to_frame('Percentual').join(data.groupby('item id').count()['rating'].to_frame('Quantidade')).join(itemData.set_index('movie_id ')['movie title']).sort_values(by=['Percentual','Quantidade'],ascending=False).head(10)
val3

         Percentual  Quantidade                          movie title
item id
1449          100.0           8               Pather Panchali (1955)
1396          100.0           5                     Stonewall (1995)
1064          100.0           4                     Crossfire (1947)
1125          100.0           4                Innocents, The (1961)
1189          100.0           3                   Prefontaine (1997)
1293          100.0           3                      Star Kid (1997)
1623          100.0           3                 Cérémonie, La (1995)
1639          100.0           3  Bitter Sugar (Azucar Amargo) (1996)
1080          100.0           2           Celestial Clockwork (1994)
1398          100.0           2                          Anna (1996)

**ANALISE**

Aqui a verificação como é basicamente analisada por Filme Bom e filme ruim, e pegar a porcentagem de avaliações boas e rankear os melhores. O problema se dá pois é extramamente injusto com filmes de grande porte que tem diversas avaliações  e a probabilidade desse filme ter o percentual menor que os de menor  porte (que tem menos avaliações). Sendo então não necessariamente são os melhores filmes

### Exercicio 4

**OBJETIVO**:  Considerando a mesma condição do exercício anterior, faça uma lista de recomendações
considerando os filmes que possuem mais notas iguais ou superiores a 4

In [10]:
#Forma1
def maisBemAvaliados(vals):
    positivas=0
    for val in vals:
          if val>=4:
                positivas=positivas+1
    return positivas
lista=[]
for filme in filmesId['Filmes']:
        x=data[ data['item id']==filme]
        BemAval=maisBemAvaliados(x['rating'])
        # mediaVal=media(x['rating'])
        calculo=len(x['user id'])
        element=[filme,BemAval,calculo]
        lista.append(element)
melhoresFilmesBemAval=pd.DataFrame(lista,columns=['Id_Filme','Quantidade_Positivas','Quantidade_Avalicao'])
melhoresBemAval=itemData[itemData['movie_id '].isin([x for x in melhoresFilmesBemAval['Id_Filme']])]
melhoresFilmesBemAval['Nome']=melhoresBemAval['movie title'].values
melhoresFilmesBemAval.sort_values(by=['Quantidade_Positivas','Quantidade_Avalicao'],ascending=False,inplace=True)
display(melhoresFilmesBemAval.head(10))

,Id_Filme,Quantidade_Positivas,Quantidade_Avalicao,Nome
49,50,501,583,Star Wars (1977)
99,100,406,508,Fargo (1996)
180,181,379,507,Return of the Jedi (1983)
126,127,351,413,"Godfather, The (1972)"
173,174,348,420,Raiders of the Lost Ark (1981)
257,258,344,509,Contact (1997)
97,98,344,390,"Silence of the Lambs, The (1991)"
0,1,321,452,Toy Story (1995)
285,286,298,481,"English Patient, The (1996)"
55,56,294,394,Pulp Fiction (1994)

In [11]:
#Forma2
val4=data.groupby('item id').apply(lambda x: (len(x[x['rating']>=4]))).to_frame('Quantidade_positivas').join(data.groupby('item id').count()['rating'].to_frame('Quantidade_total')).join(itemData.set_index('movie_id ')['movie title']).sort_values(by=['Quantidade_positivas','Quantidade_total'],ascending=False).head(10)
val4

,Quantidade_positivas,Quantidade_total,movie title
item id,,,
50,501,583,Star Wars (1977)
100,406,508,Fargo (1996)
181,379,507,Return of the Jedi (1983)
127,351,413,"Godfather, The (1972)"
174,348,420,Raiders of the Lost Ark (1981)
258,344,509,Contact (1997)
98,344,390,"Silence of the Lambs, The (1991)"
1,321,452,Toy Story (1995)
286,298,481,"English Patient, The (1996)"
56,294,394,Pulp Fiction (1994)

**ANALISE**

Nesse caso Apenas pegamos quantas notas positivas nóes temos, o defeito dessa métrica é que somos injustos com filmes com menos avaliações, ou seja pessoas que não são BlockBuster.

### Exercicio 5

**OBJETIVO**:Considerando a mesma condição do exercício anterior, faça uma lista de recomendações
considerando os filmes que possuem mais notas iguais ou superiores a 4 do que notas 1, 2 e 3

In [12]:
#forma 1
def maisBemAvaliados(vals):
    positivas=0
    negativas=0
    for val in vals:
          if val>=4:
                positivas=positivas+1
          else:
                negativas=negativas+1
    return positivas-negativas
lista=[]
for filme in filmesId['Filmes']:
        x=data[ data['item id']==filme]
        maisPositivas=maisBemAvaliados(x['rating'])
        # mediaVal=media(x['rating'])
        calculo=len(x['user id'])
        element=[filme,maisPositivas,calculo]
        lista.append(element)
melhoresFilmesMaisPositv=pd.DataFrame(lista,columns=['Id_Filme','Mais_AvalPositivas','Quantidade_Avalicao'])
melhoresMaisPositiv=itemData[itemData['movie_id '].isin([x for x in melhoresFilmesMaisPositv['Id_Filme']])]
melhoresFilmesMaisPositv['Nome']=melhoresMaisPositiv['movie title'].values
melhoresFilmesMaisPositv.sort_values(by=['Mais_AvalPositivas','Quantidade_Avalicao'],ascending=False,inplace=True)
display(melhoresFilmesMaisPositv.head(10))

,Id_Filme,Mais_AvalPositivas,Quantidade_Avalicao,Nome
49,50,419,583,Star Wars (1977)
99,100,304,508,Fargo (1996)
97,98,298,390,"Silence of the Lambs, The (1991)"
126,127,289,413,"Godfather, The (1972)"
173,174,276,420,Raiders of the Lost Ark (1981)
180,181,251,507,Return of the Jedi (1983)
317,318,232,298,Schindler's List (1993)
63,64,227,283,"Shawshank Redemption, The (1994)"
171,172,219,367,"Empire Strikes Back, The (1980)"
312,313,218,350,Titanic (1997)

In [13]:
#forma 2
val5=data.groupby('item id').apply(lambda x: (len(x[x['rating']>=4])-len(x[x['rating']<4]))).to_frame('Quantidade_positivas').join(data.groupby('item id').count()['rating'].to_frame('Quantidade_total')).join(itemData.set_index('movie_id ')['movie title']).sort_values(by=['Quantidade_positivas','Quantidade_total'],ascending=False).head(10)
val5

,Quantidade_positivas,Quantidade_total,movie title
item id,,,
50,419,583,Star Wars (1977)
100,304,508,Fargo (1996)
98,298,390,"Silence of the Lambs, The (1991)"
127,289,413,"Godfather, The (1972)"
174,276,420,Raiders of the Lost Ark (1981)
181,251,507,Return of the Jedi (1983)
318,232,298,Schindler's List (1993)
64,227,283,"Shawshank Redemption, The (1994)"
172,219,367,"Empire Strikes Back, The (1980)"
313,218,350,Titanic (1997)

**ANALISE**

Aqui como podemos ver podemos verificar quantos votos positivos tem a mais que os votos negativos, dando um equilibrio maior para alguns casos, po´rem os filmes que são poucoo avalaiados ainda são injustiçado

### Exercicio Extra

Recomendação feita, baseada em pessoas que gostaram dos mesmos filmes, e avaliaram outros filmes como bons

In [31]:
#Pega Informações do usuario
user_id=1
user_informations=userData[userData['user id']==user_id]
user_informations

#Avaliações do usuario
def avaliacoesUsuario(user):
    x=data[ data['user id']==user]
    x=x.join(itemData.set_index('movie_id ')[['movie title']], on='item id',how='inner')
    return x[['rating','item id','movie title']].sort_values(by=['rating'],ascending=False)
userAvaliation=avaliacoesUsuario(user_id)
userAvaliation=userAvaliation[userAvaliation['rating']>=4]
userAvaliation
# Pega quantos usuarios avaliaram igual
def usuariosAvaliaramIgual(filme,user_id):
    x=data[ (data['item id']==filme) & (data['rating']>=4) & (data['user id']!=user_id)]
    x=x[['user id','rating']]
    x=x.join(userData.set_index('user id')[['Genero','Ocupacao','age']], on='user id',how='inner')
    return x[['rating','user id','Genero','Ocupacao','age']].sort_values(by=['rating'],ascending=False)
filmesAvaliados=userAvaliation['item id'].values
usuariosParecidos=pd.DataFrame()
for filme in filmesAvaliados:
    usuariosParecidos=pd.concat([usuariosParecidos,usuariosAvaliaramIgual(filme,user_id)])
usuariosParecidos=usuariosParecidos.groupby(['user id','Genero','Ocupacao','age']).count().sort_values(by='rating',ascending=False)
usuariosParecidos.head(10)
#filmes nao avaliados pelo Usuario
def FilmesNaoAvaliadosUsuario(user_id):
    x=data[ data['user id']==user_id]
    filmesAvaliados=x['item id'].values
    x=itemData[~itemData['movie_id '].isin(filmesAvaliados)]
    return x[['movie title','movie_id ']]
   
filmesNaoAvaliados=FilmesNaoAvaliadosUsuario(user_id)
filmesNaoAvaliados
def filmesParaRecomendar(usuariosParecidos, filmesNaoAvaliados):
    filmesRecomendados=pd.DataFrame()
    for user in usuariosParecidos.index:
        x=data[ (data['user id']==user[0]) & (data['rating']>=4)]
        filmesAvaliados=x['item id'].values
        for filme in filmesNaoAvaliados['movie_id '].values:
            if filme in filmesAvaliados:
                filmesRecomendados=pd.concat([filmesRecomendados,filmesNaoAvaliados[filmesNaoAvaliados['movie_id ']==filme]])
    filmesRecomendados['Contagem']=1
    filmesRecomendados=filmesRecomendados.groupby(['movie_id ','movie title']).count().sort_values(by='Contagem',ascending=False)
    return filmesRecomendados
metade= len(filmesAvaliados)/2
usuariosParecidos=usuariosParecidos[usuariosParecidos['rating']>=metade]
usuariosParecidos
filmesRecomendados=filmesParaRecomendar(usuariosParecidos,filmesNaoAvaliados)
filmesRecomendados
#filmesNaoAvaliados

                                    movie title  movie_id
272                                 Heat (1995)        273
273                              Sabrina (1995)        274
274                Sense and Sensibility (1995)        275
275                    Leaving Las Vegas (1995)        276
276                          Restoration (1995)        277
...                                         ...        ...
1677                          Mat' i syn (1997)       1678
1678                           B. Monkey (1998)       1679
1679                       Sliding Doors (1998)       1680
1680                        You So Crazy (1994)       1681
1681  Scream of Stone (Schrei aus Stein) (1991)       1682

[1410 rows x 2 columns]

In [75]:
def pegarUsuario(user_id):
    return data[data['user id']==user_id].drop(['timestamp'],axis=1)
def mediaAvaliacaoUser(user):
    return user.groupby('user id').mean('rating').drop(['item id'],axis=1)['rating'].values[0]
def S(u,i):
    mediaRu = mediaAvaliacaoUser(u)
    listUser=userData[userData['user id']!=u['user id'].values[0]]
    display(listUser)
    total=listUser.apply(lambda x: {
        (0 if not data[(data['user id'] == x) & (data['item id'] == i)]['user id'].values
         else data[(data['user id'] == x) & (data['item id'] == i)])-(mediaAvaliacaoUser(data[data['user id']==x]))
    }).to_frame('calc')
user_id=1
u=pegarUsuario(user_id)
itemsPossiveis=itemData[~itemData['movie_id '].isin(u['item id'])]
itemsPossiveis=itemsPossiveis[['movie_id ','movie title']]
S(u,itemsPossiveis['movie_id '].values[0])
#u=u.join(itemData.set_index('movie_id ')[['movie title']], on='item id',how='inner')
# x=data[(data['user id']==1) & (data['item id']==273)]
# x=0 if not x['rating'].values  else x['rating'].values[0]

KeyError: 0